@use "../colors" as *;

.project {
  background-color: #fff;
  border-radius: 30px;
  text-align: center;
  color: $dark-green;
  font-size: 16px;
  line-height: 130.033%; /* 20.805px */
  height: 264px;
  padding: 16px 0 24px;
  display: flex;
  flex-direction: column;
  a {
    width: 32px;
    height: 32px;
    display: flex;
  }
  strong {
    font-weight: 600;
    text-decoration-line: underline;
    margin-bottom: 8px;
    display: block;
  }
  &__image {
    margin: 0 auto 16px;
    width: 54px;
    height: 54px;
  }
  p {
    white-space: pre-line;
  }
  div {
    display: flex;
    justify-content: center;
    margin-top: auto;
    gap: 16px;
  }
}

.text {
  font-size: 16px;
  line-height: 130.033%; /* 20.805px */
  color: $dark-blue;
  strong {
    font-weight: 600;
  }
  strong.text__strong {
    font-weight: 700;
  }
  &--lg {
    font-size: 20px;
    font-weight: 500;
    strong {
      font-weight: 700;
    }
  }
  &--center {
    margin-bottom: 24px;
    text-align: center;
  }
}

.title {
  color: $orange;
  font-family: "Shantell Sans";
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  &--yellow {
    color: $yellow;
  }
  &--center {
    text-align: center;
    margin-bottom: 24px;
  }
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: grid;
  gap: 56px;
}

.navigation {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 28px;
  &__link-list {
    gap: 8px;
    margin-top: 36px;
    display: none;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    display: grid;
    justify-items: center;
    &-link {
      margin-bottom: 6px;
      img {
        width: 67px;
        height: 67px;
      }
    }
    &-description {
      font-family: "Shantell Sans";
      font-size: 6.5px;
      font-weight: 500;
    }
  }
  &__menu {
    opacity: 0.56;
  }
}

.button {
  color: #fff;
  background-color: $orange;
  font-size: 18px;
  font-weight: 500;
  line-height: 130.033%; /* 23.406px */
  max-width: 496px;
  width: 100%;
  padding: 18px 0;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: $orange;
    background-color: $yellow;
  }

  &:focus {
    color: $orange;
    background-color: $yellow;
  }
}

.link {
  padding: 8px 8px;
  background-color: $yellow;
  border-radius: 14px;
  text-transform: uppercase;
  color: $dark-blue;
  font-weight: 500;
  transition: 0.5s;
  text-align: center;
  &:hover {
    background-color: #fbbe14;
  }
  &:focus {
    background-color: #fbbe14;
  }
  &--active {
    background-color: #fbbe14;
  }
}

.support {
  margin-bottom: 56px;
  &__text {
    display: grid;
    gap: 24px;
    text-align: center;
    &--margin {
      margin-bottom: 32px;
    }
  }
  &__link {
    display: block;
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 32px;
  }
  &__button {
    margin: 0 auto;
    display: block;
  }
}

.subscribe {
  &__title {
    margin-bottom: 8px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    margin-bottom: 32px;
    &-input {
      background-color: #fff;
      border-radius: 30px;
      padding: 22px 0;
      max-width: 496px;
      width: 100%;
      text-align: center;
      width: 100%;
      &::placeholder {
        color: $dark-blue;
        opacity: 0.64;
      }
    }
    &-desktop {
      display: none;
    }
    &-mobile {
      position: absolute;
      left: -16px;
      top: -160px;
      z-index: -1;
    }
  }

  &__paragraph {
    display: grid;
    gap: 40px;
    margin-bottom: 24px;
    text-align: center;
    a {
      color: $yellow;
    }
  }
  &__button-vk {
    background-color: #fff;
    color: $dark-blue;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0 auto;
    &:hover {
      background-color: #fff;
      color: $dark-blue;
    }
    &:focus {
      background-color: #fff;
      color: $dark-blue;
    }
  }
}

.footer {
  border-top: 1px solid #304f6c64;
  padding: 32px 0;
  &__text {
    text-align: center;
    margin-bottom: 24px;
    text-transform: uppercase;
  }
  address {
    margin-bottom: 24px;
    font-style: normal;
    text-transform: none;
  }
  &__phone {
    text-decoration: none;
    color: $dark-blue;
    display: block;
    text-align: center;
    margin-bottom: 24px;
  }
  &__link {
    display: flex;
    gap: 24px;
    justify-content: center;
    img {
      width: 40px;
      height: 40px;
    }
  }
}

/* reset */
button,
fieldset,
input {
  all: unset;
}

.DialogOverlay {
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: rgb(43, 35, 35);
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  color: var(--mauve-12);
  font-size: 17px;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}
.Button.violet {
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.Button.violet:hover {
  background-color: var(--mauve-3);
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.green {
  background-color: var(--green-4);
  color: var(--green-11);
}
.Button.green:hover {
  background-color: var(--green-5);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green-7);
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 10px;
  right: 10px;
}
.IconButton:hover {
  background-color: var(--violet-4);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.Label {
  font-size: 15px;
  color: var(--violet-11);
  width: 90px;
  text-align: right;
}

.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 35px;
}
.Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.swiper {
  margin: 0;
  &--bottom {
    margin-top: 0;
    margin-bottom: 56px;
    .swiper {
      &-slide {
        margin-top: 0;
        &-active {
          margin: 0;
          span {
            display: block;
          }
          &-text {
            margin-bottom: 8px;
          }
          img {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
  &-navigation {
    button {
      cursor: pointer;
    }
    &-button {
      img {
        rotate: 180deg;
      }
    }
    &--mobile {
      display: none;
    }
  }
  &-slide {
    display: grid;
    text-align: center;
    width: 232px;
    height: fit-content;

    img {
      object-fit: cover;
      width: 100%;
      height: 392px;
      border-radius: 70px;
    }
  }
}

.br {
  &-mobile {
    display: block;
  }
  &-desktop {
    display: none;
  }
}

//После 390px применяются стили

@media screen and (min-width: 391px) {
  .project {
    font-size: 18px;
    line-height: 140%; /* 25.2px */
    height: 382px;
  }

  .navigation {
    &__container {
      padding: 0;
      align-items: normal;
    }
    &__link {
      &-list {
        display: flex;
      }
    }

    &__menu {
      display: none;
    }
    &__logo {
      &-link {
        img {
          width: 124px;
          height: 124px;
        }
      }
      &-description {
        font-size: 12px;
      }
    }
  }

  .text {
    font-size: 18px;
    line-height: 140%; /* 25.2px */
    &--lg {
      font-size: 32px;
    }
    &--center {
      margin-bottom: 32px;
    }
  }

  .container {
    padding: 0;
    gap: 100px;
  }

  .button {
    font-size: 22px;
    line-height: 140%; /* 25.2px */
  }

  .link {
    padding: 4px 16px;
  }

  .title {
    font-size: 64px;
    font-weight: 400;
    &--center {
      margin-bottom: 56px;
    }
  }
  .support {
    margin-bottom: 100px;
    &__link {
      margin-bottom: 40px;
      text-align: center;
    }
  }
  .subscribe {
    &__title {
      margin-bottom: none;
    }
    &__paragraph {
      margin-bottom: 56px;
      gap: 56px;
    }
    &__form {
      &-desktop {
        display: block;
        position: absolute;
        bottom: 0;
        z-index: -1;
        width: 100%;
      }
      &-mobile {
        display: none;
      }
    }
  }

  .footer {
    padding: 56px 0;
    &__text {
      margin-bottom: 16px;
    }
    &__link {
      img {
        width: 48px;
        height: 48px;
      }
    }
  }
  .swiper {
    margin-bottom: 100px;
    &--bottom {
      .swiper {
        &-slide {
          margin-top: 65px;
          &-active {
            margin-top: 0;
          }
        }
      }
    }
    &-slide {
      span {
        display: none;
      }
      img {
        width: 100%;
        height: 344px;
        border-radius: 70px;
      }
      &-active {
        width: 320px;
        margin-top: 0;
        span {
          display: block;
        }
        &-text {
          margin-bottom: 8px;
        }
        img {
          height: 475px;
          margin-bottom: 16px;
        }
      }
    }
    &-navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 126px;
      z-index: 2;
      &--mobile {
        display: flex;
      }
    }
  }
}
