@use "../colors" as *;

.about-us {
  background-image: url(/src/assets/background/background-about-us-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -138px;
  &__mission {
    display: flex;
    gap: 24px;
    margin-bottom: 56px;
    flex-direction: column;
    &-content {
      display: grid;
      gap: 16px;
      height: fit-content;
    }
    &-image {
      display: flex;
      gap: 25px;
      padding-top: 0;
      div {
        display: grid;
        height: fit-content;
      }
      img {
        border-radius: 30px;
        margin-bottom: 16px;
      }
    }
    &-verblyd {
      img {
        border-radius: 20px;
      }
    }
    &-lebed {
      img {
        width: 100%;
      }
    }
  }
  &__paragraph {
    margin-bottom: 24px;
    &-span {
      display: grid;
      margin-bottom: 16px;
    }
  }
  &__lama {
    display: grid;
    gap: 16px;
    margin-bottom: 32px;
    img {
      object-fit: cover;
      width: 100%;
      height: 251px;
      border-radius: 40px;
    }
  }
  &__enot {
    flex-direction: column;
    display: flex;
    gap: 24px;
    img {
      object-fit: cover;
      width: 100%;
      height: 278px;
      border-radius: 40px;
    }
    &-description {
      display: grid;
      gap: 16px;
      height: fit-content;
    }
  }
  &__target {
    &-title {
      margin-bottom: 24px;
    }
    &-paragraph {
      margin-bottom: 16px;
      &--display {
        display: none;
      }
    }
    &-list {
      display: none;
      gap: 32px;
      .about-us__target-item:nth-child(even) {
        img {
          order: -1;
        }
      }
    }
    &-item {
      display: flex;
      gap: 32px;
      img {
        border-radius: 60px;
      }
      span {
        color: $dark-blue;
      }
      div {
        background-color: #fff;
        border-radius: 60px;
        padding: 0 32px;
        align-items: center;
        display: flex;
        gap: 25px;
      }
    }

    &-image--order {
      order: -1;
    }
    .target--mobile {
      display: block;
    }
  }
  &__goat {
    &-text {
      margin-bottom: 24px;
      span {
        display: none;
      }
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 251px;
      border-radius: 60px;
    }
  }

  &__history {
    &-title {
      margin-bottom: 24px;
    }
    &-box {
      display: flex;
      flex-direction: column;
      gap: 32px;
      img {
        height: 251px;
        border-radius: 40px;
      }
    }
    &-text {
      display: grid;
      gap: 16px;
    }
  }

  &__principles {
    &-box {
      display: grid;
      grid-template-columns: 1fr;
      gap: 32px;
      margin-bottom: 56px;
      img {
        height: 464px;
        border-radius: 60px;
      }
      &--margin {
        margin-bottom: 24px;
      }
    }
    &-title {
      margin-bottom: 24px;
    }
    &-approach {
      display: grid;
      align-content: space-between;
      img {
        object-fit: cover;
        width: 100%;
        height: 464px;
      }
      p {
        margin-bottom: 24px;
      }
    }
  }

  &__command {
    position: relative;
    display: grid;
    gap: 24px;
  }
  &__slider {
    display: grid;
    position: relative;

    div.about-us__slider-box {
      height: 378px;
    }
    &-box {
      div {
        background-color: #fff;
        padding: 55px 24px;
        border-radius: 60px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
    span.about-us__slider-number {
      color: $dark-blue;
    }
  }
}

@media screen and (min-width: 391px) {
  .about-us {
    background-image: url(/src/assets/background/background-about-us.png);
    &__mission {
      gap: 122px;
      flex-direction: row;
      &-image {
        padding-top: 19px;
        gap: 32px;
        img {
          margin-bottom: 0;
        }
      }
      &-verblyd {
        border-radius: 18px;
      }
      &-lebed {
        img {
          width: fit-content;
        }
      }
    }
    &__lama {
      margin-bottom: 56px;
      img {
        width: fit-content;
        border-radius: 60px;
        height: 282px;
      }
    }

    &__paragraph {
      margin-bottom: 56px;
      &-span {
        display: inline;
        margin-bottom: 0;
      }
    }
    &__enot {
      gap: 32px;
      flex-direction: row;
      img {
        border-radius: 60px;
      }
    }
    &__slider {
      display: none;
    }
    &__target {
      &-list {
        display: grid;
      }
      &-paragraph {
        &--display {
          display: block;
        }
      }
    }
    &__goat {
      &-text {
        margin-bottom: 56px;
        span {
          display: inline;
        }
      }
      img {
        height: 450px;
      }
    }
    &__history {
      &-title {
        margin-bottom: 56px;
      }
      &-box {
        flex-direction: row;
        img {
          height: fit-content;
          border-radius: 30px;
        }
      }
    }
    &__principles {
      &-box {
        margin-bottom: 100px;
        grid-template-columns: 1fr 1fr;
        img {
          height: fit-content;
        }
        &--margin {
          margin-bottom: 32px;
        }
      }
      &-title {
        margin-bottom: 56px;
      }
      &-approach {
        p {
          margin-bottom: 0;
        }
      }
    }
    &__command {
      margin-bottom: 56px;
    }
  }
}
